# Anthorpic API Key
ANTHROPIC_API_KEY=your-anthropic-key

# **Development** Admin Login Credentials
ULUOPS_USER=uluops-user-account
ULUOPS_PASS=uluops_pass

# **Development** API Key
ULUOPS_API_KEY=uluops-api-key